<header>
	<h1>Create New Game</h1>
</header>
<form class="create-game">
	<div class="group">
		<input type="number" name="sprint-name" placeholder="Sprint Number" required><span class="bar"></span>
	</div>
	<div class="group">
		<input type="text" name="story-name" placeholder="Story Id" required><span class="bar"></span>
	</div>
	<div class="group">
		<input type="text" name="story-name" placeholder="Story Name" required><span class="bar"></span>
	</div>
	<div class="group">
		<input type="text" name="story-desc" placeholder="Story Description"><span class="bar"></span>
	</div>
	<label class="label checkbox">
      <input type="checkbox" class="checkbox" name="timer" checked>
        Timer
  	</label>
  	<button type="button" class="button button-blue save-game">Create</button>
</form>