.card {
	background: white;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;	
}
.container {
	min-height:600px;
}
.sidebar {
	width: 25%;
	float: left;
	box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
	min-height: 647px;
}
.dashboard {
	text-align: left;
}
.dashboard h1 {
	position: absolute;
	bottom: 5px;
	color: white;
	padding: 10px;
}
.dashboard-content {
	width: 74%;
	display: inline-block;
	vertical-align: top;
	margin-top: -69px;
	margin-left: 8px;
	position: relative;
}
aside {
	width: 280px;
	min-width: 280px;
	display: inline-block;
	background-color: #ffffff;
}
aside .profile-pic {
	text-align: center;
	color: #5a7391;
	font-size: 16px;
	margin-top: 20px;
}
aside .profile-pic div {
	padding: 10px;
}
aside .profile-pic img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
aside nav ul {
	margin: 0;
	padding: 0;
}
aside nav li{
	position: relative;
	list-style-type: none;	
}
aside nav li a {
	text-decoration: none;
	color: #212121;
	display: block;
	height: 48px;
	line-height: 48px;
	padding-left: 20px;
}
aside nav li a:hover {
	background-color: rgba(224, 224, 224, 0.58);	
}
aside nav li.divider {
	background-color: #bdbdbd;
	height: 1px;
	margin: 8px 0;	
}
aside nav li.active {
	background-color: #e0e0e0;
}
.dashboard-content header h1{
	padding: 20px;
}
form.create-game {
	padding: 20px;
}
#dashboard-content .button {
	width: 25%;
	display: block;
}

.create-game .checkbox {
	margin-bottom: 10px;
}